---
import 'animate.css'
import Tilt from 'react-parallax-tilt'

import Layout from '../layouts/Layout.astro'
---

<Layout title='FTC VERTEX 15534'>
  <div class='h-auto min-h-screen px-8 md:px-48 md:pt-32'>
    <div
      class='max-w-[1200px] pb-6'
      data-scroll
      data-scroll-speed='1'
    >
      <h1
        class='animate__animated animate__fadeIn text-center font-hype text-2xl tracking-wide md:text-8xl'
      >
        Our Team
      </h1>
      <p class='pl-6 font-body text-xl text-center'>
        The team was founded in 2018, and we have been growing ever since!
      </p>
      <p class='pl-6 font-body text-xl text-center'>
        Email us at: <a
          href='mailto:vertex15534@gmail.com'
          class='underline'
          >vertex15534@gmail.com</a
        > or <a
          href='mailto:dang@exeter.edu'
          class='underline'
          >dang@exeter.edu</a
        >!
      </p>
    </div>
    <div
      class='3xl:-mt-0 grid h-auto grid-cols-2 gap-8 md:-mt-36 md:grid-cols-4 md:gap-16'
      data-scroll
      data-scroll-speed='3'
    >
      <Tilt client:load>
        <div class='col-span-1 flex flex-col'>
          <div
            class="cropPicture h-64 w-auto bg-[url('/images/people/debbie.jpg')] bg-cover bg-center"
          >
          </div>
          <div
            class='cropPictureReverse col-span-1 flex h-auto w-auto flex-col border-2 border-white bg-cover bg-center px-5 py-5'
          >
            <h1 class='pl-3 font-hype text-xl leading-none'>DEBORAH</h1>
            <h1 class='font-hype text-2xl leading-none'>ANG</h1>
            <span class='border-b py-1 leading-none'> Team Captain</span>
            <span class='py-5 leading-none'>
              Deborah is currently a senior at Phillips Exeter, originally from
              San Jose, California. She first participated in FLL in 4th grade,
              and has since been an active part of many FLL and FTC teams as a
              member and coach. As the mechanical lead on VERTEX, she hopes to
              continually improve her leadership and teamwork and looks forward
              to continuing her robotics career at Exeter!
            </span>
          </div>
        </div>
      </Tilt>
      <Tilt client:load>
        <div class='col-span-1 flex flex-col'>
          <div
            class="cropPicture h-64 w-auto bg-[url('/images/people/brenda.jpg')] bg-cover bg-center"
          >
          </div>
          <div
            class='cropPictureReverse col-span-1 flex h-auto w-auto flex-col border-2 border-white bg-cover bg-center px-5 py-5'
          >
            <h1 class='pl-3 font-hype text-xl leading-none'>BRENDA</h1>
            <h1 class='font-hype text-2xl leading-none'>ROMERO-TORRES</h1>
            <span class='border-b py-1 leading-none'>
              Community Outreach Lead</span
            >
            <span class='py-5 leading-none'>
              Brenda is an senior at Phillips Exeter from San Antonio, Texas.
              Previously she participated in FLL and FRC and is excited to
              continue pursuing robotics with FIRST. On the team she works
              alongside outreach to plan events and spread STEM. In her free
              time she enjoys creating along with her twin sister.
            </span>
          </div>
        </div>
      </Tilt>
      <Tilt client:load>
        <div class='col-span-1 flex flex-col'>
          <div
            class="cropPicture h-64 w-auto bg-[url('/images/people/riya.jpg')] bg-cover bg-center"
          >
          </div>
          <div
            class='cropPictureReverse col-span-1 flex h-auto w-auto flex-col border-2 border-white bg-cover bg-center px-5 py-5'
          >
            <h1 class='pl-3 font-hype text-xl leading-none'>RIYA</h1>
            <h1 class='font-hype text-2xl leading-none'>TYAGI</h1>
            <span class='border-b py-1 leading-none'> Programming Lead</span>
            <span class='py-5 leading-none'>
              Riya is a senior at Phillips Exeter. She has extensive experience
              with outreach and programming through programs and camps she has
              run over the summer, and is incredibly passionate about educating
              the community and spreading STEM! Riya is excited to be on the FTC
              team, and looks forward to bringing the robot to life this year.
            </span>
          </div>
        </div>
      </Tilt>
      <Tilt client:load>
        <div class='col-span-1 flex flex-col'>
          <div
            class="cropPicture h-64 w-auto bg-[url('/images/people/teddy.jpg')] bg-cover bg-center"
          >
          </div>
          <div
            class='cropPictureReverse col-span-1 flex h-auto w-auto flex-col border-2 border-white bg-cover bg-center px-5 py-5'
          >
            <h1 class='pl-3 font-hype text-xl leading-none'>TEDDY</h1>
            <h1 class='font-hype text-2xl leading-none'>DUNCKER</h1>
            <span class='border-b py-1 leading-none'>
              Mechanical Lead, Director of Athletics</span
            >
            <span class='py-5 leading-none'>
              Teddy is a junior at Phillips Exeter from Durham, North Carolina.
              He has participated in FIRST since 6th grade, attending multiple
              state and international tournaments. This is his second year on
              VERTEX, and he spends most of his time on the team working in CAD.
              Teddy also enjoys building electronics for guided rockets and
              playing soccer.
            </span>
          </div>
        </div>
      </Tilt>
      <Tilt client:load>
        <div class='col-span-1 flex flex-col'>
          <div
            class="cropPicture h-64 w-auto bg-[url('/images/people/alinne.jpg')] bg-cover bg-center"
          >
          </div>
          <div
            class='cropPictureReverse col-span-1 flex h-auto w-auto flex-col border-2 border-white bg-cover bg-center px-5 py-5'
          >
            <h1 class='pl-3 font-hype text-xl leading-none'>ALINNE</h1>
            <h1 class='font-hype text-2xl leading-none'>ROMERO-TORRES</h1>
            <span class='border-b py-1 leading-none'> Mechanical Member</span>
            <span class='py-5 leading-none'>
              Alinne is currently an senior at Exeter and lives in San Antonio,
              Texas. She was introduced to robotics through FLL and later FRC.
              On the team, she’s been able to help with CAD and planning
              outreach events. In her free time she enjoys creating all sorts of
              things.
            </span>
          </div>
        </div>
      </Tilt>
      <Tilt client:load>
        <div class='col-span-1 flex flex-col'>
          <div
            class="cropPicture h-64 w-auto bg-[url('/images/people/avaninder.jpg')] bg-cover bg-center"
          >
          </div>
          <div
            class='cropPictureReverse col-span-1 flex h-auto w-auto flex-col border-2 border-white bg-cover bg-center px-5 py-5'
          >
            <h1 class='pl-3 font-hype text-xl leading-none'>AVANINDER</h1>
            <h1 class='font-hype text-2xl leading-none'>BHAGHAYATH</h1>
            <span class='border-b py-1 leading-none'> Programming Member</span>
            <span class='py-5 leading-none'>
              Avaninder is a sophomore at Phillips Exeter Academy, where he
              works on machine learning and web development. He was a part of
              FTC since middle school, and loves working with his team to build
              and program robots! He will continue to work on making machine
              learning more accessible.
            </span>
          </div>
        </div>
      </Tilt>
      <Tilt client:load>
        <div class='col-span-1 flex flex-col'>
          <div
            class="cropPicture h-64 w-auto bg-[url('/images/people/eli.jpg')] bg-cover bg-center"
          >
          </div>
          <div
            class='cropPictureReverse col-span-1 flex h-auto w-auto flex-col border-2 border-white bg-cover bg-center px-5 py-5'
          >
            <h1 class='pl-3 font-hype text-xl leading-none'>ELI</h1>
            <h1 class='font-hype text-2xl leading-none'>PRATT</h1>
            <span class='border-b py-1 leading-none'>
              Mechanical Member, Dictator of Drip</span
            >
            <span class='py-5 leading-none'>
              Eli is currently a junior at Phillips Exeter Academy. She grew up
              in Shanghai, but now lives in New Jersey with her parents and
              older sister. She first developed an interest in robotics during
              her freshman year in Shanghai, but she was unable to attend any
              competitions due to Covid. She is very excited to learn more about
              using CAD and the process of building a robot!
            </span>
          </div>
        </div>
      </Tilt>
    </div>
  </div>
</Layout>
